{
  "openapi": "3.0.0",
  "info": {
    "title": "Atlas Engine API",
    "version": "0.1.0",
    "description": "Generated from Express routes. Schemas may be refined over time.",
    "license": {
      "name": "Proprietary",
      "url": "https://atlasengine.ai/legal"
    }
  },
  "servers": [
    {
      "url": "https://api.atlasengine.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "description": "Returns a lightweight health signal for Atlas Engine.\n\nUse this endpoint for load balancers, uptime checks, and container orchestration probes. It is intentionally fast and does not validate external dependencies.\n\nThis endpoint is **public** and does not require authentication.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Get System Healthz",
        "operationId": "get_healthz",
        "tags": [
          "System"
        ]
      }
    },
    "/metrics": {
      "get": {
        "description": "Returns operational metrics for Atlas Engine (Prometheus-compatible output).\n\nUse this to monitor request rates, latencies, and error patterns. Protect access in production since metrics can expose internal service behavior.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "default": {
            "description": "Response."
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get System Metrics",
        "operationId": "get_metrics",
        "tags": [
          "System"
        ]
      }
    },
    "/api/license/status": {
      "get": {
        "description": "Get license-related state for your organization.\n\nUse these endpoints to validate access, check license status, refresh entitlements, or apply a license payload depending on your deployment flow.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "x-license-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "summary": "Get License License Status",
        "operationId": "get_api_license_status",
        "tags": [
          "License"
        ]
      }
    },
    "/api/license/validate": {
      "post": {
        "description": "Create license-related state for your organization.\n\nUse these endpoints to validate access, check license status, refresh entitlements, or apply a license payload depending on your deployment flow.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "x-license-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "x-org-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Create License License Validate",
        "operationId": "post_api_license_validate",
        "tags": [
          "License"
        ]
      }
    },
    "/api/license/refresh": {
      "post": {
        "description": "Create license-related state for your organization.\n\nUse these endpoints to validate access, check license status, refresh entitlements, or apply a license payload depending on your deployment flow.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "x-license-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "x-org-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Create License License Refresh",
        "operationId": "post_api_license_refresh",
        "tags": [
          "License"
        ]
      }
    },
    "/api/license/apply": {
      "post": {
        "description": "Create license-related state for your organization.\n\nUse these endpoints to validate access, check license status, refresh entitlements, or apply a license payload depending on your deployment flow.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "x-org-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Request body schema was auto-normalized (original generator produced invalid field names)."
              }
            }
          }
        },
        "security": [],
        "summary": "Create License License Apply",
        "operationId": "post_api_license_apply",
        "tags": [
          "License"
        ]
      }
    },
    "/api/deployment/version": {
      "get": {
        "description": "Get deployment metadata.\n\nUse these endpoints to verify which version/build of Atlas Engine is running, useful for debugging and support.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Deployment Deployment Version",
        "operationId": "get_api_deployment_version",
        "tags": [
          "Deployment"
        ]
      }
    },
    "/.well-known/saml/metadata/{orgId}": {
      "get": {
        "description": "Get the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "default": {
            "description": "Response."
          }
        },
        "security": [],
        "summary": "Get Auth (saml) .well Known Saml Metadata Orgid",
        "operationId": "get__well_known_saml_metadata_orgid",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/config/{orgId}": {
      "get": {
        "description": "Get the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "summary": "Get Auth (saml) Auth Saml Config Orgid",
        "operationId": "get_auth_saml_config_orgid",
        "tags": [
          "Auth (SAML)"
        ]
      },
      "put": {
        "description": "Update the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domains": {
                    "example": "any",
                    "description": "Domains value."
                  },
                  "idp_metadata_url": {
                    "example": "any",
                    "description": "Idp Metadata Url value."
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Update Auth (saml) Auth Saml Config Orgid",
        "operationId": "put_auth_saml_config_orgid",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/discover": {
      "get": {
        "description": "Get the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Email address used for discovery, login, or identity matching."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Get Auth (saml) Auth Saml Discover",
        "operationId": "get_auth_saml_discover",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/login": {
      "post": {
        "description": "Create the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Accept parameter."
          },
          {
            "name": "host",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Host parameter."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "redirect",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Redirect URL to send the user to after completing authentication."
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Email address used for discovery, login, or identity matching."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "example": "any",
                    "description": "Organization identifier used to scope the request."
                  },
                  "orgId": {
                    "example": "any",
                    "description": "Unique identifier for Or."
                  },
                  "email": {
                    "example": "any",
                    "description": "Email value."
                  },
                  "redirect": {
                    "example": "any",
                    "description": "Redirect value."
                  },
                  "relayState": {
                    "example": "any",
                    "description": "Relaystate value."
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Create Auth (saml) Auth Saml Login",
        "operationId": "post_auth_saml_login",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/acs": {
      "post": {
        "description": "Create the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Accept parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SAMLResponse": {
                    "example": "any",
                    "description": "Samlresponse value."
                  },
                  "RelayState": {
                    "example": "any",
                    "description": "Relaystate value."
                  },
                  "org_id": {
                    "example": "any",
                    "description": "Organization identifier used to scope the request."
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Create Auth (saml) Auth Saml Acs",
        "operationId": "post_auth_saml_acs",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/idp-init": {
      "post": {
        "description": "Create the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Accept parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SAMLResponse": {
                    "example": "any",
                    "description": "Samlresponse value."
                  },
                  "RelayState": {
                    "example": "any",
                    "description": "Relaystate value."
                  }
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Create Auth (saml) Auth Saml Idp Init",
        "operationId": "post_auth_saml_idp_init",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/logout": {
      "post": {
        "description": "Create the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Create Auth (saml) Auth Saml Logout",
        "operationId": "post_auth_saml_logout",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/slo": {
      "post": {
        "description": "Create the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [],
        "summary": "Create Auth (saml) Auth Saml Slo",
        "operationId": "post_auth_saml_slo",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/auth/saml/session": {
      "get": {
        "description": "Get the SAML authentication and session flow.\n\nUse these endpoints to configure an IdP, discover an org from user email, initiate login, handle ACS callbacks, and manage logout/session state.\n\nThis endpoint is **public** and does not require authentication.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Bearer token for authenticating the request (format: `Bearer <token>`)."
          },
          {
            "name": "cookie",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Session cookie (used when calling session-based auth endpoints)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [],
        "summary": "Get Auth (saml) Auth Saml Session",
        "operationId": "get_auth_saml_session",
        "tags": [
          "Auth (SAML)"
        ]
      }
    },
    "/agents": {
      "post": {
        "description": "Create agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Agents Agents",
        "operationId": "post_agents",
        "tags": [
          "Agents"
        ]
      },
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Agents Agents",
        "operationId": "get_agents",
        "tags": [
          "Agents"
        ]
      }
    },
    "/agents/{id}": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Agents Agents Id",
        "operationId": "get_agents_id",
        "tags": [
          "Agents"
        ]
      },
      "patch": {
        "description": "Update agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Update Agents Agents Id",
        "operationId": "patch_agents_id",
        "tags": [
          "Agents"
        ]
      },
      "delete": {
        "description": "Delete agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Delete Agents Agents Id",
        "operationId": "delete_agents_id",
        "tags": [
          "Agents"
        ]
      }
    },
    "/agents/{id}/task": {
      "post": {
        "description": "Create agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Agents Agents Id Task",
        "operationId": "post_agents_id_task",
        "tags": [
          "Agents"
        ]
      }
    },
    "/agents/{id}/memory": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Maximum number of items to return (used for pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Agents Agents Id Memory",
        "operationId": "get_agents_id_memory",
        "tags": [
          "Agents"
        ]
      }
    },
    "/agents/{id}/status": {
      "patch": {
        "description": "Update agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Update Agents Agents Id Status",
        "operationId": "patch_agents_id_status",
        "tags": [
          "Agents"
        ]
      }
    },
    "/tasks": {
      "get": {
        "description": "Get task execution and streaming results.\n\nUse these endpoints to list tasks, assign tasks, and subscribe to task output streams for real-time progress updates.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter results by status."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Tasks Tasks",
        "operationId": "get_tasks",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/tasks/{taskId}/stream": {
      "get": {
        "description": "Get task execution and streaming results.\n\nUse these endpoints to list tasks, assign tasks, and subscribe to task output streams for real-time progress updates.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the task."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Tasks Tasks Taskid Stream",
        "operationId": "get_tasks_taskid_stream",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/tasks/assign": {
      "post": {
        "description": "Create task execution and streaming results.\n\nUse these endpoints to list tasks, assign tasks, and subscribe to task output streams for real-time progress updates.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Tasks Tasks Assign",
        "operationId": "post_tasks_assign",
        "tags": [
          "Tasks"
        ]
      }
    },
    "/commands": {
      "post": {
        "description": "Create Commands Commands.\n\nThis endpoint is part of the Atlas Engine API surface. Use the parameters and request body below to shape the operation, then inspect responses and error codes to handle edge cases.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Account identifier used to scope the request to a specific account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "example": "any",
                    "description": "Organization identifier used to scope the request."
                  },
                  "account_id": {
                    "example": "any",
                    "description": "Account identifier used to scope the request to a specific account."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Commands Commands",
        "operationId": "post_commands",
        "tags": [
          "Commands"
        ]
      }
    },
    "/agent-builder": {
      "post": {
        "description": "Create agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Agent Builder Agent Builder",
        "operationId": "post_agent_builder",
        "tags": [
          "Agent Builder"
        ]
      }
    },
    "/agent-builder/spec": {
      "post": {
        "description": "Create agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Agent Builder Agent Builder Spec",
        "operationId": "post_agent_builder_spec",
        "tags": [
          "Agent Builder"
        ]
      }
    },
    "/agent-config/schema": {
      "post": {
        "description": "Create agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Agent Config Agent Config Schema",
        "operationId": "post_agent_config_schema",
        "tags": [
          "Agent Config"
        ]
      }
    },
    "/agent-config/{agentId}": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the agent."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Agent Config Agent Config Agentid",
        "operationId": "get_agent_config_agentid",
        "tags": [
          "Agent Config"
        ]
      },
      "put": {
        "description": "Update agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the agent."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Update Agent Config Agent Config Agentid",
        "operationId": "put_agent_config_agentid",
        "tags": [
          "Agent Config"
        ]
      }
    },
    "/insights/overview": {
      "get": {
        "description": "Get Insights Insights Overview.\n\nThis endpoint is part of the Atlas Engine API surface. Use the parameters and request body below to shape the operation, then inspect responses and error codes to handle edge cases.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Insights Insights Overview",
        "operationId": "get_insights_overview",
        "tags": [
          "Insights"
        ]
      }
    },
    "/memory/graph": {
      "get": {
        "description": "Get memory and retrieval features.\n\nUse these endpoints to inspect memory graphs, subscribe to memory update streams, or query memory-related state for debugging and observability.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "User identifier for scoping the request to a specific user."
          },
          {
            "name": "x-account-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Account identifier used to scope the request to a specific account."
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "User identifier for scoping the request to a specific user."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Memory Memory Graph",
        "operationId": "get_memory_graph",
        "tags": [
          "Memory"
        ]
      }
    },
    "/memory/stream": {
      "get": {
        "description": "Get memory and retrieval features.\n\nUse these endpoints to inspect memory graphs, subscribe to memory update streams, or query memory-related state for debugging and observability.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Memory Memory Stream",
        "operationId": "get_memory_stream",
        "tags": [
          "Memory"
        ]
      }
    },
    "/meta-controller/approvals": {
      "get": {
        "description": "Get Meta Controller Meta Controller Approvals.\n\nThis endpoint is part of the Atlas Engine API surface. Use the parameters and request body below to shape the operation, then inspect responses and error codes to handle edge cases.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter results by status."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Meta Controller Meta Controller Approvals",
        "operationId": "get_meta_controller_approvals",
        "tags": [
          "Meta Controller"
        ]
      }
    },
    "/meta-controller/approvals/{id}/resolve": {
      "post": {
        "description": "Create Meta Controller Meta Controller Approvals Id Resolve.\n\nThis endpoint is part of the Atlas Engine API surface. Use the parameters and request body below to shape the operation, then inspect responses and error codes to handle edge cases.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the resource."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Meta Controller Meta Controller Approvals Id Resolve",
        "operationId": "post_meta_controller_approvals_id_resolve",
        "tags": [
          "Meta Controller"
        ]
      }
    },
    "/meta-controller/events": {
      "get": {
        "description": "Get Meta Controller Meta Controller Events.\n\nThis endpoint is part of the Atlas Engine API surface. Use the parameters and request body below to shape the operation, then inspect responses and error codes to handle edge cases.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Maximum number of items to return (used for pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Meta Controller Meta Controller Events",
        "operationId": "get_meta_controller_events",
        "tags": [
          "Meta Controller"
        ]
      }
    },
    "/meta-controller/conversation-graph": {
      "get": {
        "description": "Get Meta Controller Meta Controller Conversation Graph.\n\nThis endpoint is part of the Atlas Engine API surface. Use the parameters and request body below to shape the operation, then inspect responses and error codes to handle edge cases.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Maximum number of items to return (used for pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Meta Controller Meta Controller Conversation Graph",
        "operationId": "get_meta_controller_conversation_graph",
        "tags": [
          "Meta Controller"
        ]
      }
    },
    "/multi-agent/sessions": {
      "post": {
        "description": "Create agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Multi Agent Multi Agent Sessions",
        "operationId": "post_multi_agent_sessions",
        "tags": [
          "Multi-Agent"
        ]
      }
    },
    "/multi-agent/sessions/stream": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "prompt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Prompt parameter."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Multi Agent Multi Agent Sessions Stream",
        "operationId": "get_multi_agent_sessions_stream",
        "tags": [
          "Multi-Agent"
        ]
      }
    },
    "/multi-agent/tool-agents/run": {
      "post": {
        "description": "Create agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Multi Agent Multi Agent Tool Agents Run",
        "operationId": "post_multi_agent_tool_agents_run",
        "tags": [
          "Multi-Agent"
        ]
      }
    },
    "/multi-agent/memory": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Multi Agent Multi Agent Memory",
        "operationId": "get_multi_agent_memory",
        "tags": [
          "Multi-Agent"
        ]
      }
    },
    "/multi-agent/events": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Multi Agent Multi Agent Events",
        "operationId": "get_multi_agent_events",
        "tags": [
          "Multi-Agent"
        ]
      }
    },
    "/multi-agent/tool-agents": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Multi Agent Multi Agent Tool Agents",
        "operationId": "get_multi_agent_tool_agents",
        "tags": [
          "Multi-Agent"
        ]
      }
    },
    "/multi-agent/tool-agents/{agentId}/logs": {
      "get": {
        "description": "Get agents used to execute workflows in Atlas Engine.\n\nAgents represent runnable configurations (tools, policies, and runtime settings). Use these endpoints to create and manage agents, trigger agent tasks, fetch agent memory, and update agent lifecycle state.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the agent."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Maximum number of items to return (used for pagination)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Multi Agent Multi Agent Tool Agents Agentid Logs",
        "operationId": "get_multi_agent_tool_agents_agentid_logs",
        "tags": [
          "Multi-Agent"
        ]
      }
    },
    "/chat/history/{conversationId}": {
      "get": {
        "description": "Get chat and conversation operations.\n\nUse these endpoints to send messages, stream model output when supported, and fetch conversation history for debugging or UI rendering.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the conversation."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Chat Chat History Conversationid",
        "operationId": "get_chat_history_conversationid",
        "tags": [
          "Chat"
        ]
      }
    },
    "/chat/send": {
      "post": {
        "description": "Create chat and conversation operations.\n\nUse these endpoints to send messages, stream model output when supported, and fetch conversation history for debugging or UI rendering.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "x-org-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "x-account-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Account identifier used to scope the request to a specific account."
          },
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "User identifier for scoping the request to a specific user."
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Account identifier used to scope the request to a specific account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "example": "any",
                    "description": "Message value."
                  },
                  "conversationId": {
                    "example": "any",
                    "description": "Unique identifier of the conversation."
                  },
                  "history": {
                    "example": "any",
                    "description": "History value."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Chat Chat Send",
        "operationId": "post_chat_send",
        "tags": [
          "Chat"
        ]
      }
    },
    "/automations": {
      "get": {
        "description": "Get automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Automations Automations",
        "operationId": "get_automations",
        "tags": [
          "Automations"
        ]
      },
      "post": {
        "description": "Create automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Automations Automations",
        "operationId": "post_automations",
        "tags": [
          "Automations"
        ]
      }
    },
    "/automations/{automationId}": {
      "put": {
        "description": "Update automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "automationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Automationid parameter."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Update Automations Automations Automationid",
        "operationId": "put_automations_automationid",
        "tags": [
          "Automations"
        ]
      }
    },
    "/automation-builder/interpret": {
      "post": {
        "description": "Create automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Automation Builder Automation Builder Interpret",
        "operationId": "post_automation_builder_interpret",
        "tags": [
          "Automation Builder"
        ]
      }
    },
    "/automation-builder/message": {
      "post": {
        "description": "Create automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Automation Builder Automation Builder Message",
        "operationId": "post_automation_builder_message",
        "tags": [
          "Automation Builder"
        ]
      }
    },
    "/automation-builder/key": {
      "post": {
        "description": "Create automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Automation Builder Automation Builder Key",
        "operationId": "post_automation_builder_key",
        "tags": [
          "Automation Builder"
        ]
      }
    },
    "/automation-builder/events": {
      "get": {
        "description": "Get automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          },
          {
            "name": "sessionId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the session."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Automation Builder Automation Builder Events",
        "operationId": "get_automation_builder_events",
        "tags": [
          "Automation Builder"
        ]
      }
    },
    "/automation-builder/session/{sessionId}": {
      "delete": {
        "description": "Delete automation and automation-builder workflow endpoints.\n\nUse these endpoints to create/update automations and to interpret/compose automation steps via the automation builder APIs.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the session."
          },
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Delete Automation Builder Automation Builder Session Sessionid",
        "operationId": "delete_automation_builder_session_sessionid",
        "tags": [
          "Automation Builder"
        ]
      }
    },
    "/connectors/install": {
      "post": {
        "description": "Create connectors and connector runs.\n\nConnectors let Atlas Engine talk to external systems (Drive, Notion, Gmail, GitHub, etc.). Use these endpoints to create drafts, publish connectors, run/test them, and manage secrets.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connectorId": {
                    "example": "any",
                    "description": "Unique identifier for Connecto."
                  },
                  "tenantId": {
                    "example": "any",
                    "description": "Unique identifier for Tenan."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Connectors Connectors Install",
        "operationId": "post_connectors_install",
        "tags": [
          "Connectors"
        ]
      }
    },
    "/connectors/draft": {
      "post": {
        "description": "Create connectors and connector runs.\n\nConnectors let Atlas Engine talk to external systems (Drive, Notion, Gmail, GitHub, etc.). Use these endpoints to create drafts, publish connectors, run/test them, and manage secrets.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenantId": {
                    "example": "any",
                    "description": "Unique identifier for Tenan."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Connectors Connectors Draft",
        "operationId": "post_connectors_draft",
        "tags": [
          "Connectors"
        ]
      }
    },
    "/connectors/publish": {
      "post": {
        "description": "Create connectors and connector runs.\n\nConnectors let Atlas Engine talk to external systems (Drive, Notion, Gmail, GitHub, etc.). Use these endpoints to create drafts, publish connectors, run/test them, and manage secrets.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenantId": {
                    "example": "any",
                    "description": "Unique identifier for Tenan."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Create Connectors Connectors Publish",
        "operationId": "post_connectors_publish",
        "tags": [
          "Connectors"
        ]
      }
    },
    "/connectors/installed": {
      "get": {
        "description": "Get connectors and connector runs.\n\nConnectors let Atlas Engine talk to external systems (Drive, Notion, Gmail, GitHub, etc.). Use these endpoints to create drafts, publish connectors, run/test them, and manage secrets.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Connectors Connectors Installed",
        "operationId": "get_connectors_installed",
        "tags": [
          "Connectors"
        ]
      }
    },
    "/connectors/drafts": {
      "get": {
        "description": "Get connectors and connector runs.\n\nConnectors let Atlas Engine talk to external systems (Drive, Notion, Gmail, GitHub, etc.). Use these endpoints to create drafts, publish connectors, run/test them, and manage secrets.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OrgIdHeader": [],
            "LicenseKeyHeader": []
          }
        ],
        "summary": "Get Connectors Connectors Drafts",
        "operationId": "get_connectors_drafts",
        "tags": [
          "Connectors"
        ]
      }
    },
    "/connectors/run": {
      "post": {
        "description": "Create connectors and connector runs.\n\nConnectors let Atlas Engine talk to external systems (Drive, Notion, Gmail, GitHub, etc.). Use these endpoints to create drafts, publish connectors, run/test them, and manage secrets.\n\nThis endpoint requires authentication (commonly `x-org-id` and `x-license-key`, or an auth token depending on the route).",
        "parameters": [
          {
            "name": "license_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "License key used to authorize requests for your organization."
          },
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier used to scope the request."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
